<h1>All the pruchase orders</h1>
<%= render "layouts/obj", obj: @purchase_order%>
<hr>
<% @purchase_orders.each do |purchase_order|%>
<p>From: <%= purchase_order.supplier.name%></p>
<p>Status: <%= purchase_order.status%></p>
  <hr>
<% end %>