<p>From: <%= @purchase_order.supplier.name%></p>
<p>Status: <%= @purchase_order.status%></p>
<%= link_to "Delete purchase order", purchase_order_path(@purchase_order), data: { turbo_method: :delete}%>